<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pricetype>
            <general>
                <enable>1</enable>
                <master_type>Master Price List</master_type>
                <individual_type>Individual Price List</individual_type>
            </general>
        </pricetype>
    </default>
</config>
