/**
 * Copyright © Pronko Consulting
 * See LICENSE for license details.
 */
.elavon-section .entry-edit-head > .config-heading .heading strong {
    padding-left: 150px;
    background: url("../images/elavon_payments_logo.png") no-repeat 0 0 / 145px auto;
    line-height: 65px;
}
.elavon-section .entry-edit-head > .config-heading:before {
    background: url("../images/elavon_payments_cards.png") no-repeat 0 0 / 100% auto;
    content: "";
    display: inline;
    float: right;
    height: 35px;
    width: 280px;
}
.modal-popup .elavon-changelog-list {
    margin-left: 20px;
}