<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   
    <virtualType name="Rootways\Elavon\Model\ConfigProvider" type="Magento\Payment\Model\CcGenericConfigProvider">
        <arguments>
            <argument name="methodCodes" xsi:type="array">
                <item name="rootways_elavon_option" xsi:type="const">Rootways\Elavon\Model\Payment::CODE</item>
            </argument>
        </arguments>
    </virtualType>
    
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="rootways_elavon_config_provider" xsi:type="object">Rootways\Elavon\Model\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    
</config>
