<?xml version="1.0"?>
<!--
  ~ Copyright (c) 2019. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\SalesRule\Model\RulesApplier">
        <plugin name="autoproposal_discount_reset" type="Cart2Quote\AutoProposal\Plugin\Magento\SalesRule\Model\RulesApplierPlugin"/>
    </type>
</config>