<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="adminhtml_customer_save_after">
		<observer instance="Lumenstarled\SaveAttribute\Observer\Backend\Adminhtml\CustomerSaveAfter" name="lumenstarled_saveattribute_observer_backend_adminhtml_customersaveafter_adminhtml_customer_save_after"/>
	</event>
</config>
